<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>East China Normal University</string>
	<string>LuckCoffee</string>
	<string>Thirst for knowledge, be modest and foolish</string>
	<string>Xiamen University</string>
	<string>XieJiaPei</string>
</array>
</plist>
